@import url(https://db.onlinewebfonts.com/c/c56ea8aca8b3b1f84bcb7365c6ae4af0?family=Kalameh+Bold); 

:root {
    --white: #f1f1f1;
    --main-color: #FFB802;
    --secondary-color: #FFD059;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Kalameh Bold", sans-serif;
    overflow-x: hidden; /*khalf*/
    background-color: rgb(252, 244, 233);
}

.bg {
    background-image: url(../imgs/Rectangle\ 1.png);
    position: absolute; 
    width: 100vw;
    height: 890px;
    z-index: -2;
}

.container {
    padding: 30px 10px;
    margin: -5px auto;
}


/* Start Header */

header .container {
    display: flex;
    justify-content: space-between;
}

header .container>a {
    margin-top: 6px;
}

header .container .pages {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

header .container .pages li {
    margin-top: 1px;
    padding:  0 10px;
    text-wrap: wrap;
    align-self: center;
    padding: 10px 15px 15px 15px ;
    background-color: transparent;
}

header .container .pages li a {
    margin-left: 2.5rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--white); 
    transform: 0.3s;
    align-self: center;
    padding: 10px 15px 15px 15px ;
    
}

header .container .pages li a:hover {
    padding-bottom: 5px;
    color: black;
    background-color:var(--main-color);
}

header .container .icons span {
    display: inline-block;
    margin-top: 1px;
    padding-left: 12px;
}

header .container .icons .Search_fill_btn_header{
    display: none;
}

.dark_light svg {
    width: 36px;
    height: 36px;
    
}

.btn_header , .dark_light {   
    transition: scale .5s ease; /*khalf*/
}

.btn_header:hover ,.dark_light:hover {
scale: 1.5;
align-self: center;
cursor: pointer;
}

.dark_mode {
    background-color:#2F2F2F;
}
/* End Header */
/* start Landing Section */
.landingSection {
    position: relative;
}

.landingSection .mainHead {
    width: 686px;
    height: fit-content;
    color: #FFF;
    text-align: left;
    font-family: "Kalameh Bold";
    font-size: 96.0px;
    font-weight: 200;
    line-height: 110%;
}

.landingSection .mainHead span {
    color: var(--main-color);
}

.sofa
{
    transition: scale 0.5s ease;
}
.sofa:hover
{
    scale: 1.08;
}
.landingSection .sofa {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 520px;
    top: -54px;
}

.landingSection .landingContent {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 45%;
    left: 18%;
}

.landingSection .btns {
    width: 220px;
    display: flex;
    justify-content: space-between;
}

.landingSection .btn1,
.landingSection .btn2 {
    width: 100px;
    height: 55px;
    font-size: 17px;
    font-weight: 700;
}

.landingSection .btn1 {
    border-radius: 33px 0px 0px 0px;
    background: var(--main-color);
    color: var(--white);
}

.landingSection .btn2 {
    border-radius: 0px 0px 33px 0px;
    background: var(--white);
    color: #1C1C1B;
    text-align: center;
    font-size: 15px;
}

.landingSection .paragraph {
    width: 220px;
    margin: 10px;
    color: var(--white);
    font-size: 18px;
    font-weight: 900;
    word-wrap: break-word;
}

/* End Landing Section */

/* Start Swiper Section */

.swiper {
    width: 100%;
    height: 250 px;
}

.swiper-slide {
    text-align: center;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-wrapper img {
    border-radius: 45px;
    background:  url(../imgs/BGWeb.webp);
    clip-path: fill-box;
    margin: 40px;
    width: 250px;
    height: 250px;
    padding: 20px;
}

/* End Swiper Section */

/* Start Discount Section */
.discount {
    margin: 0 auto;
    width: 99vw;
    height: 432px;
    border-radius: 45px 45px 135px 45px;
    background-color: var(--main-color);
}

.discountHeading{
    border-bottom: 2px solid var(--white);
    line-height: 0.1em;
}

.discountHeading > span {
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.5em;
    font-weight: 800;
}

.discountProducts {
    height: 432px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product {
    width: 215px;
    height: 300px;
    border-radius: 45px;
    background: #FFF;
    margin-top: -60px;
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: scale 1s ease; /*khalf*/
}

.productImg {
    width: 162px;
    height: 200px;
}

.product:hover{ /*khalf*/
    scale : 1.2;
}
.productDiscount {  
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    text-align: center;
    padding-top: 12px;
    color: var(--white);
}

.discountPeriod {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 0 0 45px 45px;
    text-align: center;
    padding-top: 12px;
    color: var(--white);
}
/* End Discount Section */

/* Start Catigories Section */
.catigories .gridElements {
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "cat1 cat2"
    "cat1 cat3"
    "cat1 cat3"
    ;
    grid-gap: 30px;
}

.catigories .gridElements  .catigoryPic {
    width: 260px;
    height: 179px;
}

.catigories .gridElements  .catigoryPic {
    width: 260px;
    height: 179px;
}

.catigories .gridElements .catigory1 {
    width: 500px;
    height: 632px;
    grid-area: cat1;
    border-radius: 0px 0px 135px 0px;
    background: #CEB39C;
    display: flex;
    flex-direction: column;
}

.catigories .gridElements .catigory2 {
    width: 500px;
    height: 203px;
    grid-area: cat2;
    background: #2F2F2F;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.catigories .gridElements .catigory3 {
    width: 500px;
    height: 202px;
    grid-area: cat3;
    border-radius: 0px 0px 0px 45px;
    background: var(--main-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    
}

.catigories .gridElements .catigoryName {
    padding-top: 30px;
    color: #FFF;
    font-family: Kalameh;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

.catigories .gridElements .catigory1 .catigoryName {
    padding-top: 100px;
    font-size: 70px;
}

.catigories .gridElements .catigory3 .catigoryName {
    padding-top: 50px;
    margin-left: 10px;
    font-size: 60px;
}

/* End Catigories Section */

/* Start Footer Section */

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgba(25, 25, 25, 0.91);
    color: #fff;
    padding: 20px;
}

.footer-logo {
    grid-column: span 2;
}

.footer-logo div {
    display: flex;
    align-items: center;
}

.footer-logo span {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2.12px;
    /* word-wrap:break-word; */
}

.footer-logo p {
    font-size: 14px;
}

.email-box {
    grid-column: span 2;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.email-box input {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.email-box button {
    padding: 10px;
    background-color: #FFB802;
    border: none;
    border-radius: 4px;
    color: #1c1c1c;
    cursor: pointer;
}

.email-box button:hover {
    background-color: #bb973e;

}

.footer-section,
.footer-contact {
    grid-column: span 1;
}

.footer-section h2,
.footer-contact h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #FFB802;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #ffd700;
}

.footer-contact p {
    font-size: 14px;
    line-height: 1.5;
}

.msg {
    background-color: #fff;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-left: 8px solid #FFB802;
    position: absolute;
    left: -100%;
    transition: all 0.5s;
}

.msg.active {
    left: 30px;
    bottom: 640px;
    position: fixed;
    z-index: 2;
}

.bx-check,
.bx-x {
    position: absolute;
    font-size: 26px;
}

.bx-check {
    left: 15px;
    background-color: #FFB802;
    border-radius: 50%;
    color: #fff;
}

.bx-x {
    right: 15px;
    cursor: pointer;
    color: black;
}

.msg-txt p {
    color: gray;
    margin-top: -10px;
    margin-left: -60px;
}

.msg-txt div {
    color: black;
    margin-top: 40px;
    
}
/* End Footer Section */

/* Start Media Queries */

@media (max-width: 767px) {
    
    .container {
        width: 510px;
    }
    
    /* Start Header Section */
    
    header .container .pages li a {
        margin-left: 1rem;
    }
    
    header .container .pages {
        display: inline-block;
        padding: 10px;
        background: #1f1f1fd8;
        position: absolute;
        z-index: 1;
        left: -200px;
        top: 80px;
        line-height: 15px;
        padding-left: 0;
        border-radius: 50px;
    }
    
    header .container .pages.active{
        left: 416px;
    }
    
    header .container .icons .Search_fill_btn_header{
        display: inline-block;
        scale: 1;
        transition: scale .5s ease;;
    }
    
    header .container .icons .Search_fill_btn_header:hover {
        display: inline-block;
        scale: 1.5;
        align-self: center;
        cursor: pointer;
    }
    /* End Header Section */ 
    /* Start Landing Section */
    .landingSection .mainHead {
        width: 335px;
        font-size: 74px;
        line-height: 90%;
    }

    .landingSection .sofa {
    width: 114%;
    left: 1px;
    top: 40px;
    }
    
    .landingSection .landingContent {
        bottom: 75%;
        left: 58%;
    }
    
    .landingSection .btns {
        width: 185px;
    }
    
    .landingSection .btn1,
    .landingSection .btn2 {
        width: 88px;
        height: 62px;
        font-size: 17px;
    }
    
    .landingSection .paragraph {
        width: 180px;
        margin-left: 0px;
        font-size: 15px;
    }

    .landingSection .mainHead {
        width: 507px;
        font-size: 67px;
        line-height: 90%;
      }
    /* Start Landing Section */
    /* Start Swiper Section */
    /* Start Swiper Section */
    /* Start Discount Section */
    .discount {
        height: auto;
        width: 90vw;
    }
    
    .discountProducts {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }
    
    .product {
        margin-top: 20px;
        margin-right: 50px;
        width: 401px;

    }   

    .productImg {
        width: 257px;
    }
    /* Start Discount Section */
    /* Start Catigories Section */
    .catigories .gridElements {
        grid-template-columns: 1fr;
        grid-template-areas: "cat1" "cat2" "cat3";
        grid-gap: 15px;
    }
    
    .catigories .gridElements .catigory1,
    .catigories .gridElements .catigory2,
    .catigories .gridElements .catigory3 {
        width: 45%;
        height: auto;
        margin-bottom: 8px;
        position: relative;
        left: 12px;
    }
  
    .catigories .gridElements .catigoryPic {
        width: 100%;
        height: auto;
    }
    
    .catigories .gridElements .catigoryName {
        padding-top: 15px;
        font-size: 50px;
    }

    .catigories .gridElements .catigory1 .catigoryName {
        margin-bottom: 30px;
        font-size: 100px;

    }

    .catigories .gridElements .catigory3 .catigoryName {
        padding-bottom: 40px;

    }
    /* End Catigories Section */
    /* Start Footer Section */
    .footer {
        margin-top: 300px;
    }
    /* End Footer Section */
}

@media (min-width: 768px){

    .container {
        width: 750px;
    }
    /* Start Landing Section */
    .landingSection .sofa {
        left: 41px;
    }
    
    .landingSection .landingContent {
        bottom: 74%;
        left: 58%;
    }
    /* End Landing Section */
    .discountProducts {
        gap: 18px;
      }
    /* End discount Section */
    .catigories .gridElements {
        grid-template-columns: 1fr;
        grid-template-areas: "cat1" "cat2" "cat3";
        grid-gap: 15px;
        left: 131px;
        position: relative;
    }
    
    .catigories .gridElements .catigory1,
    .catigories .gridElements .catigory2,
    .catigories .gridElements .catigory3 {
        width: 75%;
        height: auto;
        margin-bottom: 8px;
        position: relative;
        right: 142px;
      }
    
    .catigories .gridElements .catigoryPic {
        width: 100%;
        height: auto;
    }
    
    .catigories .gridElements .catigoryName {
        padding-top: 43px;
        font-size: 58px;
    }
        /* Start Footer Section */
        .footer {
            margin-top: 385px;
        }
        /* End Footer Section */
}


@media (min-width: 968px){

    .container {
        width: 970px;
    }

    .landingSection .sofa {
        left: 141px;
      }
    
    .mainHead {
        width: 773px;
        font-size: 107px;
    }

    .landingSection .landingContent {
        left: 43%;
        top: 152px;
    }

    .catigories .gridElements {
        grid-template-columns: 1fr;
        grid-template-areas: "cat1" "cat2" "cat3";
        grid-gap: 15px;
        position: relative;
        left: 100px;
    }

    .catigories .gridElements .catigoryPic {
        width: 564px;
        height: 179px;
      }
    /**/
    .catigories .gridElements .catigory1,
    .catigories .gridElements .catigory2,
    .catigories .gridElements .catigory3 {
        width: 80%;  
    }

    /* Start Footer Section */
    .footer {
        margin-top: 500px;
    }
    /* End Footer Section */

}

@media (min-width: 1200px){

    .container {
        width: 1170px;
    }
    
    .landingSection .sofa {
        left: 279px;
      }

    .landingSection .landingContent {
        left: 43%;
        top: 154px;
    }

    .catigories .gridElements {
        width: 915px;
        height: 669px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "cat1 cat2" 
        "cat1 cat3" 
        "cat1 cat3";
        grid-gap: 184px;
        margin: 0;
    }
    
    .catigories .gridElements  .catigoryPic {
        width: 260px;
        height: 179px;
    }
    
    .catigories .gridElements  .catigoryPic {
        width: 260px;
        height: 179px;
    }
    
    .catigories .gridElements .catigory1 {
        width: 500px;
        height: 632px;
    }
    
    .catigories .gridElements .catigory2 {
        width: 500px;
        height: 203px;
    }
    
    .catigories .gridElements .catigory3 {
        width: 500px;
        height: 202px;
    }

    .catigories .gridElements .catigoryName {
        padding-top: 40px;
        font-size: 45px;
    }

    .footer {
        margin-top: 0px;
    }
}


/* End Media Queries */